<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>

<form method="post" action="/processLogin">
    <input type="hidden">

    <input type="text" name="login" id="login" placeholder="Введите Ваш Логин"/><br/>

    <input type="password" name="password" id="password" placeholder="Пароль"/><br/>

    <input id="login-button" type="submit" value="Войти"/>

    <a class="login-a" href="/registration">Зарегистрироваться</a>

</form>

</body>
</html>