<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${form}" method="post" action="#" th:action="@{/all-menu-update-post}">
    <tr th:each="book, itemStat : *{listDish}">
        <td><input th:field="*{listDish[__${itemStat.index}__].name}"/></td>
        <td><input th:field="*{listDish[__${itemStat.index}__].count}"/></td>
        <br>
    </tr>
    <input id="login-button" type="submit" value="Добавить"/>
</form>
</body>
</html>