<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div><!--
    <tr th:each="task, itemStat : *{dtoMenuUser.cal}">
        <form th:object="${dtoMenuUser}" method="post" action="#" th:action="@{/ivent-order/{id}(id=${dtoMenuUser.id})}">
            <br><br>Ивент
            <p style="display: inline-block"  th:utext="*{cal[__${itemStat.index}__].text}"></p>
            <td><input style="display: none" th:field="*{cal[__${itemStat.index}__].text}" /></td>
            <br>Участники
            <tr th:each="task, itemStat : *{names}">
                <div>
                    <p style="display: inline-block"  th:utext="*{names[__${itemStat.index}__].login}"></p>
                    <input style="display: none" th:field="*{names[__${itemStat.index}__].login}" />
                    <input style="display: inline-block" type="checkbox" th:field="*{names[__${itemStat.index}__].check}" />
                </div>
            </tr>

            <input type="submit" value="Заказать"/>
        </form>
    </tr>-->
    <div th:each="calendarPost, itemSta : *{list}">
        <br><br>Ивент
        <a style="display: inline-block" th:text="${calendarPost.text}" th:href="@{/ivent-check/{id}(id=${calendarPost.id})}"></a>
        <p style="display: inline-block" th:text="${calendarPost.dateDeleteString}"></p>

    </div>
</div>

</body>
</html>